#DecidimPDSaveButton {
  min-width: 110px;
  height: 44px;

  &::before {
    display: none;
  }

  &.alert {
    background-color: var(--primary);
    animation: blinker 2s linear infinite;
  }

  &.loading {
    &::before {
      margin: -4px 6px 0 -5px;
      content: "";
      vertical-align: middle;
    }
  }
}
