.box {
  // Make the resize a little bit more visible
  // Note: hidden until "hover" class is set
  &::after {
    @apply absolute bottom-0 right-0 w-8 h-8;
    background: linear-gradient(135deg, transparent 0, transparent 45%, #fff 80%);
  }

  &.hover {
    resize: both;
    // In order to resize to work, it needs to have overflow
    // but this clips the elements outside
    overflow: hidden;

    &::after {
      content: "";
    }

    &::before {
      @apply left-0;
    }

    & > span {
      @apply block;
    }

    .box-controls {
      @apply block;
    }
  }

  &.blocked {
    & > span {
      @apply block;
    }
  }

  &.grouping {
    .box-controls {
      .control.group {
        background-color: red;
        animation: blinker 2s linear infinite;

        &::after {
          background-color: white;
          animation: blinker 2s linear infinite;
        }
      }
    }
  }

  // Non persisted cannot group yet (although we could refactor to allow it)
  &.persisted {
    .box-controls {
      .control.group {
        @apply inline-block;
      }
    }
  }

  // Admin controls
  .box-controls {
    @apply absolute hidden bottom-0 left-0 w-auto h-auto max-h-11 overflow-hidden;

    .control {
      @apply bg-white/90 inline-block relative w-10 h-9 m-0 mx-1 p-0.5 rounded-md;

      &:hover {
        @apply scale-90 opacity-80;
      }

      &::after {
        content: "";
        @apply absolute top-0 left-0 w-full h-full;
        background: var(--box-color);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 37px 37px;
        -webkit-mask-position: 4px 2px;
        mask-repeat: no-repeat;
        mask-size: 37px 37px;
        mask-position: 4px 2px;
      }

      &.group {
        @apply cursor-cell hidden;

        &::after {
          -webkit-mask-image: url(../images/group.svg);
          -webkit-mask-size: 30px 30px;
          -webkit-mask-position: 7px 5px;
          mask-image: url(../images/group.svg);
          mask-size: 30px 30px;
          mask-position: 7px 5px;
        }
      }

      &.move {
        @apply cursor-move;

        &::after {
          -webkit-mask-image: url(../images/move.svg);
          mask-image: url(../images/move.svg);
        }
      }
    }
  }
}
