@use "sass:meta";

#decidim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
  display: none;
  margin: 0;
  padding: 0;

  .reveal-overlay {
    position: fixed;
    inset: 0;
    z-index: 1005;
    display: none;
    background-color: rgba(26, 24, 29, 0.45);
    overflow-y: auto;
  }

  .reveal {
    width: 600px;
    max-width: 75rem;
    z-index: 1006;
    backface-visibility: hidden;
    display: none;
    padding: 1rem;
    border: 1px solid #adadad;
    border-radius: 4px;
    background-color: #eee;
    position: relative;
    top: 100px;
    margin-right: auto;
    margin-left: auto;
    overflow-y: auto;
  }
}

@keyframes blinker {
  50% {
    background-color: rgba(var(--primary-rgb), 0.6);
  }
}
