.box {
  // Make the resize a little bit more visible
  // Note: hidden until "hover" class is set
  &::after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 32px;
    background: linear-gradient(
      135deg,
      transparent 0,
      transparent 45%,
      #fff 80%
    );
  }

  &.hover {
    resize: both;
    // In order to resize to work, it needs to have overflow
    // but this clips the elements outside
    overflow: hidden;

    &::after {
      content: "";
    }

    &::before {
      left: 0;
    }

    & > span {
      display: block;
    }

    .box-controls {
      display: block;
    }
  }

  &.blocked {
    & > span {
      display: block;
    }
  }

  &.grouping {
    .box-controls {
      .control.group {
        background-color: red;
        animation: blinker 2s linear infinite;

        &::after {
          background-color: white;
          animation: blinker 2s linear infinite;
        }
      }
    }
  }

  // Non persisted cannot group yet (although we could refactor to allow it)
  &.persisted {
    .box-controls {
      .control.group {
        display: inline-block;
      }
    }
  }

  // Admin controls
  .box-controls {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    max-height: 44px;
    overflow: hidden;

    .control {
      background: #fffe;
      display: inline-block;
      position: relative;
      width: 40px;
      height: 36px;
      margin: 0 3px;
      padding: 2px;
      border-radius: 5px;

      &:hover {
        transform: scale(0.9);
        opacity: 0.8;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--box-color);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 37px 37px;
        -webkit-mask-position: 4px 2px;
        mask-repeat: no-repeat;
        mask-size: 37px 37px;
        mask-position: 4px 2px;
      }

      &.group {
        cursor: cell;
        display: none;

        &::after {
          -webkit-mask-image: url(../images/group.svg);
          -webkit-mask-size: 30px 30px;
          -webkit-mask-position: 7px 5px;
          mask-image: url(../images/group.svg);
          mask-size: 30px 30px;
          mask-position: 7px 5px;
        }
      }

      &.move {
        cursor: move;

        &::after {
          -webkit-mask-image: url(../images/move.svg);
          mask-image: url(../images/move.svg);
        }
      }
    }
  }
}
