:root {
  --box-text-color: #fff;
  --box-color: rgb(30, 152, 215);
  --box-color-rgba: rgba(30, 152, 215, .12);
  --notifications-color-rgba: rgba(30, 152, 215, .6);
  --suggestions-modal-color-as-hsla: hsla(213, 48%, 90%, .95);
}
