@import "stylesheets/decidim/variables";
@import "stylesheets/decidim/utils/fontface";
@import "stylesheets/decidim/utils/settings";
@import "foundation-sites/scss/foundation";

@include foundation-everything();

@import "stylesheets/decidim/modules/comments";

#participation-modal {
  width: 0;
  height: 0;
  position: absolute;
  background: rgba(255, 2550, 255, .95);
  top: 0;
  right: 0;
  margin: 0;
  overflow: hidden;
  z-index: 100000;

  &.active {
    overflow: auto;
  }

  &.section {
    height: 100% !important;
    width: 0;
    transition: width ease-out .5s;

    &.active {
      width: 50vw;
      transition: width ease-out 1s;
    }
  }

  &.document {
    height: 0;
    width: 100% !important;
    transition: height ease-out .5s;

    &.active {
      height: 100%;
      transition: height ease-out 1s;
    }
  }

  .close {
    color: #000;
    text-decoration: none;
    float: right;
  }

  .suggestion__bottom-line {
    margin: 1em 0;
    height: 1px;
  }

  #suggestions-list {
    padding: 1em;
  }

  #participation-modal-form {
    padding: 1em;
  }

  #suggestions__title {
    padding: 0 1rem 1rem 1rem;
  }

  .author__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
    padding: 0 1rem;

    & .author__avatar {
      margin-right: 1em;
    }

    & .author__avatar img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
}
