@import "stylesheets/decidim/variables";
@import "stylesheets/decidim/utils/fontface";
@import "stylesheets/decidim/utils/settings";
@import "foundation-sites/scss/foundation";

@include foundation-everything();

@import "stylesheets/decidim/modules/comments";

#participation-modal {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  overflow: hidden;
  z-index: 100000;
  background: var(--modal-suggestions-color);
  box-shadow: -2px -2px 10px #cbcbcb;

  &.active {
    overflow: auto;
  }

  &.section {
    height: 100% !important;
    width: 0;
    transition: width ease-out .5s;

    &.active {
      width: 50vw;
      transition: width ease-out 1s;
    }
  }

  &.document {
    height: 0;
    width: 100% !important;
    transition: height ease-out .5s;

    &.active {
      height: 100%;
      transition: height ease-out 1s;
    }
  }

  .close {
    color: #000;
    text-decoration: none;
    float: right;
  }

  .suggestion__bottom-line {
    margin: 1em -1em;
    height: 2px;
    background-color: #fff;
  }

  #suggestions-list {
    padding: 1em;
  }

  #participation-modal-form {
    padding: 1em;
  }

  #suggestions__title {
    padding: 0 1rem 1rem;
  }

  .author__data {
    display: flex;
    align-items: center;

    .author__name {
      margin: 0 1rem;
    }
  }

  .author__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;

    & .author__avatar img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }

  .comment__content,
  .comment__footer {
    display: block;
    position: relative;
    max-width: 80%;
    width: fit-content;
    height: auto;
    min-height: 3rem;
    padding: 1rem;
    text-align: left;
    background-color: #fff;
  }

  .comment__footer {
    border-radius: 30px 0 0 30px;
    margin-left: auto;
    margin-top: 1rem;
    border-right: 10px solid var(--box-color);
    box-shadow: -2px 2px 4px #cbcbcb;
  }

  .comment__content {
    text-align: left;
    border-radius: 0 30px 30px 0;
    border-left: 10px solid var(--box-color);
    box-shadow: 2px 2px 4px #cbcbcb;
  }
}
