@import "stylesheets/decidim/admin/variables";
@import "stylesheets/decidim/utils/fontface";
@import "stylesheets/decidim/admin/utils/settings";

.box {
  position: absolute;
  background: rgba(30, 152, 215, .12);
  min-width: 1px;
  min-height: 1px;
  border-color: #1e98d7;
  border-style: dotted;
  border-width: 2px;
  resize: none;
  box-sizing: content-box;
  font-family: $body-font-family;
  font-weight: 400;
  font-size: 13px;

  &.creating,
  &.moving,
  &.resizing {
    border-style: dashed;
  }

  &.hover {
    border-style: solid;
    z-index: 10000;
    cursor: pointer;

    & > span {
      display: block;
    }
  }

  &.focus,
  &.mark-group {
    border-style: solid;
    opacity: 1;
  }

  &.blocked {
    pointer-events: none;
    opacity: .4;

    & > span {
      display: block;
    }

    &.grouping,
    &.focus {
      opacity: 1;
      // Same as "hover"
      border-style: solid;
    }
  }

  // Box number info
  & > span {
    display: none;
    position: absolute;
    top: 2px;
    right: 12px;
    font-size: 24px;
    text-shadow: 1px 1px 3px #000, 0 0 1em #000, 0 0 .3em #000;
    color: #fff;
    font-weight: 600;
  }

  // Box number badge
  &::before {
    content: attr(data-section-number);
    position: absolute;
    top: -2px;
    left: -17px;
    width: 32px;
    height: 42px;
    pointer-events: none;
    background: rbg(30, 152, 215);
    -webkit-mask-image: url(../images/badge.svg);
    mask-image: url(../images/badge.svg);
    color: #fff;
    text-align: center;
    line-height: 2.2;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0 0 8px #fff;
  }
}
