@import "stylesheets/decidim/admin/variables";
@import "stylesheets/decidim/utils/fontface";
@import "stylesheets/decidim/admin/utils/settings";

.box {
  position: absolute;
  background: rgba(30, 152, 215, .12);
  min-width: 1px;
  min-height: 1px;
  border-color: #1e98d7;
  border-style: dotted;
  border-width: 2px;
  resize: none;
  box-sizing: content-box;
  font-family: $body-font-family;
  font-weight: 400;
  font-size: 13px;

  & > span {
    display: none;
    position: absolute;
    top: 2px;
    right: 12px;
    font-size: 24px;
    text-shadow: 1px 1px 3px #000, 0 0 1em #000, 0 0 .3em #000;
    color: #fff;
    font-weight: 600;
  }

  // Box number badge
  &::before {
    content: attr(data-section);
    position: absolute;
    top: -2px;
    left: -17px;
    width: 32px;
    height: 42px;
    pointer-events: none;
    background: rbg(30, 152, 215);
    -webkit-mask-image: url(../images/badge.svg);
    mask-image: url(../images/badge.svg);
    color: #fff;
    text-align: center;
    line-height: 2.5;
    text-shadow: 0 0 8px #fff;
  }

  // Admin controls
  .box-controls {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;

    .control {
      background: rgb(30, 152, 215);
      display: inline-block;
      box-sizing: border-box;
      width: 38px;
      height: 32px;
      margin: 0 3px;
      padding: 2px;
      background-repeat: no-repeat;
      background-size: 32px 32px;
      background-position: 3px 2px;
      border-radius: 4px;
      // &:first-child {
      //   border-top-left-radius: 0;
      // }

      &:hover {
        opacity: .5;
        transform: scale(.95);

        /* Scaling button to 0.98 to its original size */
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, .24);
      }

      &.group {
        cursor: cell;
        background-image: url(../images/group.svg);
      }

      &.move {
        background-image: url(../images/move.svg);
        cursor: move;
      }
    }
  }

  &.creating,
  &.moving,
  &.resizing {
    border-style: dashed;
  }

  &.hover {
    border-style: solid;
    z-index: 10000;
    cursor: pointer;

    & > span {
      display: block;
    }

    &.admin {
      // Make the resize a little bit more visible
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 32px;
        height: 32px;
        background: linear-gradient(135deg, transparent 0, transparent 25%, #fff 75%, #fff 100%);
      }

      resize: both;
      // In order to resize to work, it needs to have overflow
      // but this clips the elements outside
      overflow: hidden;

      &::before {
        display: none;
      }
    }

    .box-controls {
      display: block;
    }
  }

  &.focus,
  &.mark-group {
    border-style: solid;
    opacity: 1;
  }

  &.grouping {
    .control.group {
      background-color: red;
    }
  }

  &.blocked {
    pointer-events: none;
    opacity: .4;

    & > span {
      display: block;
    }

    &.grouping {
      opacity: 1;
      // Same as "hover"
      border-style: solid;
    }
  }
}
