<div class="row" style="margin: 10px 0;">
  <p style="font-weight: bold">My suggestion</p>
  <%#= cell "decidim/author", present(suggestion.author), has_action: false, from: suggestion %>
  <%= translated_attribute(model.body) %>

  <% if has_answer? || model.withdrawn? %>
    <span style="padding: 5px; background: #1b9448; clear: both" class="<%= suggestion_state_badge_css_class %> label proposal-status"><%= humanize_suggestion_state %></span>
  <% end %>

  <%= render :admin_answer if has_answer? %>
</div>
