<div class="comment">
  <%#= cell "decidim/author", present(suggestion.author), has_action: false, from: suggestion %>
  <div class="comment__content">
    <%= author_cell %>
    <%= translated_attribute(model.body) %>
  </div>
  <%= render :admin_answer if has_answer? %>
</div>
<hr class="suggestion__bottom-line">
