
.process-content {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
}

.layout-content > .container {
  height: 100%;
}

.container .full-height {
  height: 100%;
}

.pdf-viewer-container {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
