@use "sass:meta";

@import "stylesheets/decidim/participatory_documents/pdf/defaults.scss";
@import "stylesheets/decidim/participatory_documents/pdf/tweaks.scss";
@import "stylesheets/decidim/participatory_documents/pdf/admin_modals.scss";
@import "stylesheets/decidim/participatory_documents/pdf/notifications.scss";

// Scope editor boxes to the annotationslayer of the pdf to avoid any possible collision
.annotationEditorLayer {
  @include meta.load-css("stylesheets/decidim/participatory_documents/pdf/polygons.scss");

  &.polygon-ready {
    &.admin {
      cursor: crosshair;

      &.grouping {
        cursor: not-allowed;

        .box {
          cursor: cell;
          // When grouping do not put any opacity and allow events, otherwise cannot select the box
          &.blocked {
            pointer-events: all;
            opacity: 1;
          }
        }
      }

      @include meta.load-css("stylesheets/decidim/participatory_documents/pdf/admin_polygons.scss");
    }
  }
}
