/* stylelint-disable selector-type-no-unknown */
@import "stylesheets/decidim/variables";
@import "stylesheets/decidim/utils/mixins";

.pdf-viewer-container {
  height: calc(100vh - 30rem);
  min-height: 50em;
  padding: 0;
}

pdf-iframe {
  &::before {
    @include spinner(25px, #fff, var(--primary), 800ms);

    content: "";
    vertical-align: middle;
  }
}
