<div class="suggestion-title">
  <%= translated_attribute(section.title) %>
  <div class="close">X</div>
</div>

<div id="suggestion-list">
  <% suggestions.each do |suggestion| %>
    <%= cell("decidim/participatory_documents/suggestion", suggestion) %>
  <% end %>
</div>

<div id="participation-modal-form">
  <%= render "decidim/participatory_documents/suggestions/form" %>
</div>
<style type="text/css">
</style>
