<div class="row" style="height:calc(100vh - 30rem)">
	<object data="<%= pdf_viewer_documents_path(file: document.attached_uploader(:file).path) %>" type="application/pdf" width="100%" height="100%">
	  <iframe src="<%= pdf_viewer_documents_path(file: document.attached_uploader(:file).path) %>" width="100%" height="100%" id="pdf-iframe">
	    <p>This browser does not support PDF!</p>
	  </iframe>
	</object>
</div>
