<tr data-id="<%= annotation.id %>">
  <td>
    <%= check_box_tag "document_ids_s[]", document.id, false,
                      class: "js-check-all-document js-document-list-check js-document-id-#{document.id}" %><br>
  </td>
  <td>
  </td>
  <td>
  </td>
  <td>

  </td>

  <td>

  </td>

  <td>
  </td>

  <td class="table-list__actions">
  </td>
</tr>
