<div class="card full-height">
  <div class="card-divider">
    <h2 class="card-title flex--sbc">
      <%= t(".title") %>
      <div class="flex--cc flex-gap--1">
        <%= pdf_manage_button(document) %>
      </div>
    </h2>
  </div>
  <div class="card-section">
    <% if document.present? && document.file.attached? %>
      <%= render partial: "table" %>
    <% else %>
      <p class="text-large text-center mt-s"><%= t(".start") %></p>
    <% end %>
  </div>
</div>
