<div class="card full-height">
  <div class="card-divider">
    <%= render partial: "title" %>
  </div>
  <div class="card-section">
    <% if document.present? && document.file.attached? %>
      <%= render partial: "table" %>
    <% else %>
      <p class="text-large text-center mt-s"><%= t(".start") %></p>
    <% end %>
  </div>
</div>
