<div class="card full-height">
  <div class="card-divider">
    <h2 class="card-title flex--sbc">
      <%= translated_attribute(current_component.name) %>
      <%= render "title" %>
    </h2>
  </div>
  <div class="card-section">
    <p class="text-large text-center mt-s"><%= t(".start") %></p>
  </div>
</div>
