<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= translated_attribute(current_component.name) %>
    <%= render "title" %>
  </h1>
</div>
<div class="card-section">
  <p class="text-xl text-center mt-4"><%= t(".start") %></p>
</div>
