<div id="suggestion-list">
  <%= render partial: "decidim/participatory_documents/suggestions/suggestions", suggestions: suggestions %>
</div>

<div id="participation-modal-form">
  <%= render "decidim/participatory_documents/suggestions/form" %>
</div>