FOOO BAR <%= translated_attribute(zone.title) %>

<style>
</style>
<div id="participation-modal-form">
  <form>
    <div class="card">
      <label>FOOO BAR</label>
      <textarea name="zone[description_en]" id="zone_description_en">fgsdfg</textarea>
    </div>
    <div class="button--double form-general-submit">
      <button class="button" id="editor-modal-save">Save</button>
    </div>
  </form>
</div>