#toolbarViewer,
#toolbarContainer {
  box-shadow: none;
  height: 66px;
  border: none;
}

#viewerContainer {
  top: 66px;
}

#toolbarViewerLeft,
#toolbarViewerRight,
#toolbarViewerMiddle {
  margin: 12px;
}

.secondaryToolbar,
.findbar {
  top: 53px;
  // Orinal numbers
  .toolbarField {
    margin-top: 3px;
  }

  .toolbarLabel {
    margin-top: 2px;
  }

  .splitToolbarButton {
    margin-top: 2px;
  }
}

.verticalToolbarSeparator {
  height: 42px;
  margin: 0 5px;
}

.toolbarButton {
  margin-top: 8px;
}

.splitToolbarButton {
  margin-top: 8px;
}

.toolbarField {
  margin-top: 9px;
}

.toolbarLabel {
  margin-top: 8px;
}

#scaleSelectContainer {
  margin: 7px 5px;

  #scaleSelect {
    background: #fff;
    border: 1px solid #000;
  }
}

#DecidimPDSaveButton {
  min-width: 110px;

  &::before {
    display: none;
  }
}

#globalSuggestionTrigger {
  min-width: 160px;

  &::before {
    display: none;
  }
}

#fullscreenButton {
  background-image: url(../images/fullscreen.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-color: transparent;
  background-position: 5px 5px;
  border: none;
  padding: 5px 5px 5px 29px;
  margin: 8px 5px;
  font-weight: bold;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: var(--button-hover-color);
    color: var(--toggled-btn-color);
  }
}

#documentProperties.secondaryToolbarButton {
  display: none;
}

#print.toolbarButton,
#openFile.toolbarButton {
  display: none;
}

#download.toolbarButton {
  display: none;

  & + .verticalToolbarSeparator {
    display: none;
  }
}

#editorModeButtons.splitToolbarButton {
  display: none;
}
