#documentProperties.secondaryToolbarButton {
  display: none;
}

#print.toolbarButton,
#openFile.toolbarButton {
  display: none;
}

#download.toolbarButton {
  display: none;

  & + .verticalToolbarSeparator {
    display: none;
  }
}

#editorModeButtons.splitToolbarButton {
  display: none;

  & + .verticalToolbarSeparator {
    display: none;
  }
}
