#participation-modal {
  width: 0;
  position: absolute;
  height: 100%;
  background: rgba(0, 0, 255, .5);
  top: 0;
  right: 0;
  overflow: hidden;
  transition: width .5s;
  z-index: 100000;
}

#participation-modal.active {
  overflow: auto;
  width: 40vw;
  transition: width 1s;
}
