<%= decidim_form_for(@form, url: document_suggestions_path(document), html: { class: "form" }) do |form| %>
  <div class="card">
    <%= form.text_area :body %>
  </div>
  <div class="button--double form-general-submit">
    <button class="button" id="editor-modal-save">Save</button>
  </div>
<% end %>
