<%= decidim_form_for([document, zone, @form], html: { class: "form" }) do |form| %>
  <div class="card">
    <%= form.text_area :description %>
  </div>
  <div class="button--double form-general-submit">
    <button class="button" id="editor-modal-save">Save</button>
  </div>
<% end %>