<div class="author__info flex--sbc">
  <span class="author__data">
    <%= render :avatar %>
    <%= render :name %>
  </span>
  <span class="author__data_date">
    <%= render :date %>
  </span>
</div>
